body {
  font-family: "PT Mono", sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  color: #000 !important;
  font-weight: 300;
  letter-spacing: .05em;
}
span{
	background-color: black;
	color: white;
}