{{define "navbar"}}
<nav class="h-12 w-full bg-transparent border-b-2 border-dashed border-transparent">
    <div class="relative container py-2 px-2 mx-auto flex flex-row">
        <a href="/" class="h-8 px-2 flex-grow-0 flex-shrink-0">
            <img class="h-8" src="/img/julvo.svg" />
        </a>
        <div class="w-full flex-grow">
        </div>
        <a class="mr-2 h-full hover:text-pink-500 flex-grow-0 flex-shrink-0" href="https://github.com/julvo" target="_blank">
            <i class="fab fa-github fa-2x h-full"></i>
        </a>
    </div>
</nav>
{{end}}